<!-- Seu componente de login -->
<div class="login-container">
  <div class="form-container">
    <div class="logo-container">
      <img src="assets/white-logo.png" alt="Logo Condo Care">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group campo-form">
        <div class="input-icon">
          <i class="material-icons">mail_outline</i>
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>
        <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" class="error-message">
          E-mail é obrigatório.
        </div>
        <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched" class="error-message">
          E-mail inválido.
        </div>
      </div>

      <div class="form-group">
        <div class="input-icon">
          <i class="material-icons">lock_outline</i>
          <input type="password" class="form-control" formControlName="password" placeholder="Senha">
        </div>
        <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="error-message">
          Senha é obrigatória.
        </div>
        <div *ngIf="loginForm.get('password')?.hasError('pattern') && loginForm.get('password')?.touched" class="error-message">
          Senha deve ter pelo menos 8 caracteres e conter pelo menos um número.
        </div>
      </div>

      <button type="submit" class="btn btn-submit">Entrar</button>

       <!-- Mostrar a mensagem de erro geral -->
      <div *ngIf="showErrorMessage" class="error-message">
        Preencha todos os campos corretamente.
      </div>
    </form>

    <p class="redireciona-register">Não tem uma conta? <a routerLink="/register" class="link-register">Cadastre-se</a></p>
  </div>

  <div class="background-container">
    <img src="/assets/login-image.png" alt="Imagem de fundo">
  </div>
</div>
